input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.img-preview{
	cursor: pointer;
}

.header-logo{
	height: 46px;
}

.foto-preview{
	max-width: 100%;
	max-height: 200px;
}

select{
	width: 100%;
}

.select2 {
	width: 100%;
}

body{
	margin: 0;
	padding: 0
}

.btn-primary{
	background: #B22D34 !important;
	border-color: #B22D34 !important;
}

.bg-primary{
	background: #B22D34 !important;
	border-color: #B22D34 !important;
}

.text-primary{
	color: #B22D34 !important;
}

a{
	/* color: #B22D34 !important; */
}
